.aboutBrandCard {
    display: flex;
    flex-direction: column;
    padding: 2.25rem 1.5rem;
    background-color: #F9F9F9;
    gap: 0.75rem;
    width: 305px;
}

.aboutBrandCard h3 {
    font-size: 1.25rem;
}

.aboutBrandCard p {
    line-height: 1.5rem;
}

@media screen and (min-width: 1024px) {
    .aboutBrandCard {
        padding: 3.5rem;
    }
}