.header {
  width: 100%;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
    font-size: 1.5rem;
}

.header_navbar {
    display: flex;
    gap: 1.25rem;
}