.header {
  width: 100%;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
    font-size: 1.75rem;
}

.header_navbar {
    display: flex;
    gap: 1.25rem;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header {
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid #0000001A;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}