.productList {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem;
  gap: 1rem;
  justify-content: center;
}

.productList_item {
    position: relative;
}

.productList_item button {
    position: absolute;
    right: 30px;
    bottom: 20px;
    background-color: transparent;
}