.desktop {
    display: none;
}

@media screen and (min-width: 1024px) {
    .desktop {
        display: block;
    }
    
    .navbar {
        padding: 1.25rem 0;
        display: flex;
        justify-content: center;
        gap: 2.75rem;
    }
    
    .navbar a {
        color: #726E8D;
    }
}